// font-family
// font-family
$font-primary: "ヒラギノ角ゴ ProN W3",
"Hiragino Kaku Gothic ProN",
"メイリオ",
Meiryo,
"ＭＳ Ｐゴシック",
"MS PGothic",
sans-serif;

$font-secondary: 'Noto Sans JP',
sans-serif;


// colors 
$color-primary: #0d5475;
$color-accent: #ff7424;
$color-yellow: #3d3d31;
$color-dark-yellow: #fdc401;
$color-red: #D2272D;


$color-white: #ffffff;

$color-black: #000;

$color-gray: #FBF9FA;
$color-gray-dark: #EEEEEE;
$color-gray-dark--2: #999999;
$color-gray-dark--3: #e2e2e2;